<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Broadleaf
	Commerce Demo Store - Heat Clinic</title>

<th:block th:replace="/layout/partials/head"></th:block>
<script blc:src="@{/js/categoryItemControl.js}"></script>
</head>

<body th:class="${'locale-' + session.blLocale.localeCode}">
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />

	<nav th:substituteby="layout/partials/nav" />

	<div id="content" class="home-hero-container container" role="main">
		<div class="home-hero">
			<div class="home-hero-slider">
				<blc:content contentType="Homepage Banner Ad" maxResults="5" />
				<div class="ui-wrapper" style="max-width: 100%;">
					<div class="ui-viewport"
						style="width: 100%; overflow: hidden; position: relative; height: 460px;">
						<div
							th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}">
							<a th:href="@{${contentItem['targetUrl']}}"><img
								blc:src="@{${contentItem['imageUrl']}}" /></a>
						</div>
					</div>
				</div>
			</div>
		  <div class="home-hero-sub row">
				<div class="span16" id="J_homePromo" data-stat-title="焦点图下方小图">
					<ul class="home-promo-list clearfix" th:if="${not #lists.isEmpty(contentList)}">
						<li th:each="itemBottom, status : ${contentList}"
						   th:if="${status.index > 0}"
						   th:class="${status.index} == 1 ? first"><a
							th:href="@{${itemBottom['targetUrl']}}" class="item" > <img
								blc:src="@{${itemBottom['imageUrl']}}" />
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<!--  <a th:href="@{/register}"
			th:if="${contentItem !=null and contentItem['htmlContent'] !=null}"
			style="text-decoration: none">
			<div id="home_feature" th:utext="${contentItem['htmlContent']}"></div>
		</a> -->

		<!--   <blc:content contentType="Homepage Featured Products Title" /> -->


	<footer th:substituteby="layout/partials/footer" />

</body>
</html>
