<div class="cart-goods-list">
	<div class="list-head clearfix">
		<div class="col col-img">&nbsp;</div>
		<div class="col col-name" th:utext="#{cart.item}" />
		<div class="col col-price" th:utext="#{cart.price}" />
		<div class="col col-num" th:utext="#{cart.quantity}" />
		<div class="col col-total" th:utext="#{cart.totalSavings}" />
		<div class="col col-action" th:utext="#{cart.action}" />
	</div>
	<!--   <thead>
        <tr>
                    <th colspan="2"><span th:utext="#{cart.item}">Item</span></th>
            <th><span th:utext="#{cart.quantity}">Quantity</span></th>
            <th> <span th:utext="#{cart.price}">Price</span> <span class="small" th:utext="#{cart.each}">(each)</span></th>
            <th> <span th:utext="#{cart.totalSavings}">Total Savings</span></th>
            <th><span th:utext="#{cart.total}">Total</span></th>
        </tr>
    </thead>-->
	<div class="list-body" id="J_cartListBody">
		<div th:each="item : ${cart.orderItems}" th:object="${item}"
			th:id="${'productRow' + item.id}" class="item-box">
			<div class="item-table J_cartGoods">
				<div class="item-row clearfix">
					<div class="col col-img">
						<th:block th:unless="*{#lists.isEmpty(sku.productOptionValues)}"
							th:each="optionValue : *{sku.productOptionValues}">
							<img
								th:if="${optionValue.attributeValue == item.sku.skuMedia['primary']?.tags}"
								blc:src="@{*{sku.skuMedia['primary'].url} + '?thumbnail'}"
								width="80" th:alt="*{sku.name}" />
							<img
								th:if="${optionValue.attributeValue == item.sku.skuMedia['alt1']?.tags}"
								blc:src="@{*{sku.skuMedia['alt1'].url} + '?thumbnail'}"
								width="80" th:alt="*{sku.name}" />
							<img
								th:if="${optionValue.attributeValue == item.sku.skuMedia['alt2']?.tags}"
								blc:src="@{*{sku.skuMedia['alt2'].url} + '?thumbnail'}"
								width="80" th:alt="*{sku.name}" />
						</th:block>
						<a th:href="@{*{product.url}}"><img
							th:if="*{#lists.isEmpty(sku.productOptionValues) and sku.skuMedia['primary'] != null}"
							blc:src="@{*{sku.skuMedia['primary']?.url} + '?thumbnail'}"
							width="80" th:alt="*{sku.name}" /> </a>
					</div>
					<div class="col col-name">
						<div class="tags"></div>
						<h3 class="name">
							<a th:href="@{*{product.url}}" th:utext="*{product.name}" />
						</h3>
					</div>
					<div class="col col-price"
						blc:price="*{getPriceBeforeAdjustments(true)}"></div>
					<div class="col col-num">	
					<blc:form method="POST"
							th:action="@{/cart/updateQuantity}">
							<input type="hidden" name="productId" th:value="*{product.id}" />
							<input type="hidden" name="skuId" th:value="*{sku.id}" />
							<input type="hidden" name="orderItemId" th:value="*{id}" />
							<input type="number" name="quantity" class="quantityInput"
								style="width: 30px" th:value="*{quantity}" maxlength="3"
								autocomplete="off" />
							<br />
							<input type="submit" class="updateQuantity"
								th:value="#{cart.update}" />
						</blc:form>
						</div>

					<!-- 	<td align="center" class="discount"
						th:unless="*{adjustmentValue.zero}"><span
						blc:price="*{totalAdjustmentValue}"></span>
						<div class="productOptions"
							th:substituteby="catalog/partials/offers :: offers" /></td> -->
					<div
						th:if="!${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}"
						class="col col-total" blc:price="*{totalPrice}"></div>
					<div
						th:if="${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}"
						class="col col-total" blc:price="*{totalPrice}"></div>
					<div class="col col-action">
						<a
							th:unless="${@blSystemPropertiesService.resolveBooleanSystemProperty('solr.index.use.sku')}"
							class="del J_delGoods"
							th:href="@{/cart/remove(orderItemId=*{id}, productId=*{product.id})}"><i
							class="iconfont"></i></a> <a
							th:if="${@blSystemPropertiesService.resolveBooleanSystemProperty('solr.index.use.sku')}"
							class="del J_delGoods"
							th:href="@{/cart/remove(orderItemId=*{id}, skuId=*{sku.id})}"><i
							class="iconfont"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
