<th:block layout:decorator="layout/fullPageNoNavLayout">
	<head>
<link rel="stylesheet" href="/css/cart.min.css" />
<title>Cart</title>
	</head>


	<div class="page-main" layout:fragment="content" th:fragment="ajax">
		<div class="container">
			<div id="J_cartBox">
				<table th:substituteby="cart/partials/cartProductsTable"></table>

				<div class="raise-buy-box" id="J_raiseBuyBox"></div>
				<div class="cart-bar clearfix" id="J_cartBar">
					<div class="section-left">
						<a th:href="@{/}" target="_top"
							th:utext="#{cart.continueShopping}"
							class="back-shopping J_goShoping" />
					</div>
					<span class="total-price"> <span
						th:text="#{cart.currentSubtotal} + '(' +#{cart.subtotalDisclaimer}+')'+'：'" />
						<em id="J_cartTotalPrice" th:unless="${cart.subTotal?.zero}"
						blc:price="${cart.subTotal?.subtract(cart.orderAdjustmentsValue)}" />
						<em id="J_cartTotalPrice"
						th:unless="${cart.orderAdjustmentsValue.zero}"> <span
							th:utext="#{cart.orderDiscount}">Order Discount</span>: <span
							blc:price="${cart.orderAdjustmentsValue}" />
					</em>

					</span>
					<a th:href="@{/checkout}" target="_top"
							class="btn btn-a btn btn-primary"
							id="J_goCheckout" th:utext="#{cart.checkout}">
						Checkout
					</a>
					<!--  	<h3>
						<span th:utext="#{cart.currentSubtotal}">Your Current
							Subtotal</span>
					</h3>
					<div id="subtotal" th:unless="${cart.subTotal?.zero}"
						blc:price="${cart.subTotal?.subtract(cart.orderAdjustmentsValue)}"></div>
					<div id="orderDiscounts"
						th:unless="${cart.orderAdjustmentsValue.zero}">
						<span th:utext="#{cart.orderDiscount}">Order Discount</span>: <span
							blc:price="${cart.orderAdjustmentsValue}" />
					</div>
					<p>
						<span th:utext="#{cart.subtotalDisclaimer}">Subtotal does
							not yet include applicable tax or shipping and handling charges</span>.
					</p> -->
					<!--	<form blc:null_payment_hosted_action="${paymentRequestDTO}"
						complete_checkout="${false}" method="POST">
						<input type="hidden" name="TRANSACTION_AMT"
							th:value="${cart.total}" /> <input type="hidden" name="ORDER_ID"
							th:value="${cart.id}" /> <input type="hidden"
							name="COMPLETE_CHECKOUT_ON_CALLBACK" value="false" /> <input
							type="image"
							src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
							align="left" style="margin-right: 7px;" alt="Submit Form" />
					</form>
					<form blc:ali_payment_hosted_action="${paymentRequestDTO}"
						complete_checkout="${false}" method="POST">
						<input type="hidden" name="TRANSACTION_AMT"
							th:value="${cart.total}" /> <input type="hidden" name="ORDER_ID"
							th:value="${cart.id}" /> <input type="hidden"
							name="COMPLETE_CHECKOUT_ON_CALLBACK" value="false" /> <input
							type="image" blc:src="@{/img/alipay_logo.png}" align="left"
							style="margin-right: 7px;" alt="Submit Form" />
					</form> -->
					<!--  <div class="clearfix"></div>
					<a th:href="@{/}" target="_top" th:utext="#{cart.continueShopping}" class= "back-shopping J_goShoping" /> -->
				</div>
				<p class="error" th:if="${param.errorMessage}"
					th:utext="${param.errorMessage[0]}"></p>
				<p class="error" th:if="${errorMessage}" th:utext="${errorMessage}"></p>
				<!--<blc:form id="cart_promo" method="POST" th:action="@{/cart/promo}">
					<label for="promoCode"><span th:utext="#{cart.promoCode}">Promo
							Code</span>:</label>
					<input id="promoCode" name="promoCode" type="text"
						th:value="*{promoCode}" value="" autocomplete="off" />
					<input type="submit" id="addPromo" name="addPromo"
						th:value="#{cart.applyDiscount}" class="small red" />
					<div th:each="promo : ${cart.addedOfferCodes}" th:object="${promo}"
						th:remove="tag">
						<div class="promo">
							<span th:utext="*{offerCode}" th:remove="tag" /> <a
								class="remove_promo"
								th:href="@{/cart/promo/remove(offerCodeId=*{id})}"><i
								class="icon-remove"></i></a>
						</div>
					</div>
					<div id="cart_promo_error" style="display: none;"></div>
				</blc:form> -->

				<div id="blc-extra-data" class="hidden" th:utext="${blcextradata}"
					th:if="${!#strings.isEmpty(blcextradata)}"></div>
			</div>
		</div>
	</div>
</th:block>