<div class="site-header">
    <div th:remove="all">
        <!--
             This template displays the navigation of the site by looking up the menu named "headerNav"
             and building a list of the categories sub-categories menu items.
        -->
    </div>
    <blc:menu resultVar="menuItems" menuName="Header Nav" />
    <div class="container">
    <div class="header-nav">
     <ul  class="nav-list J_navMainList clearfix" th:if="${not #lists.isEmpty(menuItems)}">
        <li class="nav-item" th:each="menuItem : ${menuItems}">

            <a class="link" th:href="@{${menuItem.url}}">
                <span class="text" th:utext="${menuItem.label}"></span>
                <span class="arrow"></span>
            </a>
            
           <div th:if="'CATEGORY' == ${menuItem.menuType}" class="item-children">
                <div class="container">
                <blc:products_in_menu th:attr="CategoryId=${menuItem.categoryId}"/>
                <ul class="children-list clearfix">     
                    <li th:each="product,status : ${menuProducts}" th:class="'0' == ${status.index} ? first"
                    th:object="${product}" th:include="catalog/partials/productItemInMenu"/>
                </ul>
                </div>
            </div>
            
            
            
            
     <!--        <ul th:if="${not #lists.isEmpty(menuItem.submenu)}" class="sub-menu">
                <li th:each="submenuItem : ${menuItem.submenu}">
                    <a th:href="@{${submenuItem.url}}" th:utext="${submenuItem.label}"  class="sub-menu"></a>

                    <ul th:if="${not #lists.isEmpty(submenuItem.submenu)}" class="secondary-sub-menu">
                        <li th:each="submenuItem1 : ${submenuItem.submenu}">
                            <a th:href="@{${submenuItem1.url}}" th:utext="${submenuItem1.label}"></a>
                        </li>
                    </ul>
                </li>
            </ul>-->

        </li>
    </ul>
    </div>
    <div id="search" class="header-search">
           <blc:form id="J_searchForm" class="search-form clearfix" th:action="@{/search}" method="GET">
            <input type="search" id="search" class="search-text" name="q" th:value="${originalQuery}" />
            <input type="submit" class="search-btn iconfont" id="search_button" value="" />
            </blc:form>
        </div>
    </div>
</div>